$basic-turquoise: #7ababa;
$basic-dark: #383a3c;
$basic-light: #f7ebd8;
$basic-orange: #e48b6a;

$clear: rgba(0, 0, 0, 0.1);

$light-grey: #4e5052;
$light-text: #f9ebd9;

$hr-color: rgba(125, 126, 126, 0.6);
$shadow-color:rgba(0, 0, 0, 0.3);

$light-background: #fbfaf6;
$dark-background: #53575e;
$grey-beige-background: #e3e0dd;

$arrow-color: #828c8e;
$arrow-color-hover: #383a3c;

$headers-color: #3a3a3a;
$headers-shadow-1: #fcfaf7;
$headers-shadow-2: #484a4d;

$confetti-pink: rgb(245, 78, 147);





