.filter__text{
    font-family: $roboto-slab-font;
    font-size: 3vw;
    font-weight: 500;
    
    margin: 0;
}

@media screen and (min-width: 600px) {
    .filter__text {
        font-size: 1vw;
    }
}