@import "_hover_darker/hover_darker";

.slide-container__arrow-right {
    background-color: $light-background;
    width: 80px;
    height: 80px;
    padding: 10px 0 0 10px;
    border-radius: 50%;
    border: none;
    font-size: 2em;
    color: $arrow-color;
    position: absolute;
    bottom: 15vw;
    right: 69vw;
}
