.news__image-container{
    background-color: $light-background;
    width: 30%;
    height: 15vw;
    margin-right: 2%;
    border-radius: 3px;
    box-shadow: 1px 1px 2px $shadow-color;
    
}