.filtered-items__circle{
    background-color: inherit;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    position: relative;
    bottom: 10%;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}