.social-networks__img-container {
    height: 5vw;
    width: 5vw;
    margin: 9px;
    border-radius: 50%;
    background-color: $light-text;
    border: 3px solid $basic-dark;
    outline: 3px solid $light-text;
}