.filtered-items__description{
    font-family: $roboto-slab-font;
    font-weight: bold;
    font-size: 1.5vh;
    color: $basic-dark;
    margin: 0;
    position: relative;
    bottom: 10%;
}