.navbar__logo{
    display: none; 
    position: relative;
    //top: 0.5vw;
    z-index: 1;
}

@media screen and (min-width: 600px) {
    .navbar__logo {
        display: block;
        width: 8vw;
    }
}
